<div class="widget tag">
<h3 class="title">个人站点</h3>
<ul class="entry">
<li><a href="https://github.com/kiwenlau" title="GitHub">GitHub</a></li>
<li><a href="http://www.jianshu.com/users/edd994861ce2/latest_articles" title="简书">简书</a></li>
<li><a href="http://dockone.io/people/KiwenLau" title="DockOne">DockOne</a></li>
<li><a href="http://www.weibo.com/5655637550/profile?rightmod=1&wvr=6&mod=personinfo" title="微博">微博</a></li>
</ul>
</div>