<div class="widget tag">
<h3 class="title">个人站点</h3>
<ul class="entry">
		<li style="font-size:15px";><a href="https://github.com/kiwenlau"><img src="/github.png" height="15px" /></a>    <a href="https://github.com/kiwenlau">GitHub</a></li>
	<li style="font-size:15px";><a href="https://segmentfault.com/u/kiwenlau"><img src="/segmentfault.jpeg" height="15px" /></a>    <a href="https://segmentfault.com/u/kiwenlau">SegmentFault</a></li>
</ul>
</div>