<div class="widget tag">
<h3 class="title">KiwenLau</h3>
<ul class="entry">
<li><body><img src="/kiwenlau.jpg" style="width:150px; height:150px;"></body></li>
<li><h4>kiwenlau@gmail.com</h4></li>
</ul>
</div>